body {
  background-color: #0212fe;
  padding: 0;
  margin: 0;
  background-image: url(./images/bg.jpg);
  background-repeat: repeat-x;
  height: 974px;
  background-position: center bottom;
}

.mario {
    position: absolute;
    bottom: 80px;
    left: 500px;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}
