/* .first {
    background-color: aliceblue;
}

.second {
    background-color: hotpink;
}

.third {
    background-color: blue;
}

.fourth {
    background-color: rgb(90, 223, 28);
}

.fifth {
    background-color: blueviolet;
}
*/


#rows-style tr:nth-child(2n+1) {
    background-color: blue;
}

#rows-style tr:nth-child(2n+2)  {
    background-color: blueviolet;
}


#col-style td:nth-child(2n+1) {
    background-color: rgb(126, 126, 20);
}

#col-style td:nth-child(2n+2) {
    background-color: rgb(228, 220, 245);
}
