$generalFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$backgroundcolor_general: #e3f2fd;
$width_gen: 80%;
$background_h1: #2962ff;
$background_h2:  #2979ff;
$border_for_tr: 1px solid #eee;
$color: white;
